*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/example/fitmeow/PageFactory.java
/app/src/main/java/com/example/fitmeow/PageViewModel.java
/app/src/main/java/com/example/fitmeow/Repository.java
/app/src/main/java/com/example/fitmeow/btFragment.java
/app/src/main/res/layout/fragment_bt.xml